.form__button {
  background-color: #000;
  outline: none;
  border: 1px solid #000;
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  padding: 14px 0 18px;
  cursor: default;
  transition: opacity ease-in-out .4s;
}

.form__button:enabled:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .form__button {
    font-size: 14px;
    line-height: 1.21;
    padding: 14px 0;
  }
}