.profile__avatar-edit-button {
  position: absolute;
  background: url('../../../images/editpencil.svg') rgba(0, 0, 0, .8) no-repeat center;
  width: 120px;
  height: 120px;
  opacity: 0;
  border: none;
  outline: none;
  padding: 0;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: opacity .3s ease;
}

.profile__avatar-edit-button:hover {
  opacity: 1;
}