.popup__close-button {
  background: url('../../../images/close-button.svg') no-repeat center;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 670px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-size: 20px;
    top: -36px;
    right: 0;
  }
}