.profile__add-button {
  width: 150px;
  min-height: 50px;
  background: url('../../../images/add-button.svg') no-repeat center;
  border: 2px solid #fff;
  border-radius: 2px;
}

@media screen and (max-width: 670px) {
  .profile__add-button {
    width: 282px;
    background-size: 16px;
  }
}