.profile__info {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  margin: 22px auto 0 30px;
}

@media screen and (max-width: 670px) {
  .profile__info {
    width: 282px;
    margin: 25px auto 36px;
  }
}