.profile__info-container {
  display: flex;
  align-items: baseline;
  gap: 18px;
  max-width: 336px;
}

@media screen and (max-width: 670px) {
  .profile__info-container {
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
}